.root{
    -fx-background-color: white;
}
.text-field{
    -fx-border-color: black;
}
.button{
    -fx-border-color: black;
    -fx-background-color: lightblue;
}
.label{
    -fx-font-size: 15;
}

.title-bar{

}
.text-area{
    -fx-border-color: black;
}
.choice-box{
    -fx-background-color: white;
    -fx-border-color: black;
}
.choice-box .arrow{
    -fx-background-color: lightblue;
}
